@font-face {
    font-family: 'helv';
    src: url('./HelveticaNowText-ExtraBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'helv', Arial, Helvetica, sans-serif;
    color: white;
    transition-duration: 250ms;
    text-align: center;
    user-select: none;
}

head {
    display: none;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
}

button {
    width: 20vh;
    aspect-ratio: 4/1;
    border: none;
    border-radius: 3vh;
    background-color: crimson;
    color: yellow;
    font-size: 3vh;
    text-transform: uppercase;
}

button:hover, label:hover{
    box-shadow: 0 0 2vh 0 crimson;
    color: orange;
}

sub {
    opacity: 50%;
    font-size: 1vh;
    display: none;
}

body > * {
    flex-direction: column;
    gap: 1vh;
}

#start > h1 {
    font-size: 5vh;
}

p {
    max-width: 35vh;
    font-size: 2vh;
    padding: 1vh;
    border: .25vh solid white;
    border-radius: 5vh;
    border-style: dashed;
}

input[type="file"] {
    display: none;
}

label {
    background-color: crimson;
    color: yellow;
    width: 6vh;
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 3vh;
}

label i {
    color: inherit;
}

#start > h2 {
    color: gray;
    font-size: 1.5vh;
}

#quiz {
    gap: 2vh;
}

#quiz > p, #end > p {
    max-width: none;
    width: 45vh;
    font-size: 5vh;
}

#quiz > div {
    flex-direction: column;
    gap: 1vh;
}

.option {
    background-color: yellow;
    color: #ff4848;
    min-width: 28vh;
    max-width: 40vh;
    padding: .5vh;
    font-size: 4vh;
    border-radius: 5vh;
}

.option:not(.revealed):hover {
    box-shadow: 0 0 2vh 0 yellow;
    color: crimson;
}

.revealed {
    transition-duration: 0;
    background-color: lightcoral;
    color: white;
    box-shadow: none;
}