head {
    display: none;
}
body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    overflow: 0;
    width: 100%;
    height: 100vh;
}
#question {
    background-color: var(--box);
    padding: 20px;
    border-radius: var(--roundness);
    max-width: 300px;
    text-align: center;
}
#options {
    gap: 10px;
}
.optionBtn {
    background-color: var(--btn);
    color: black;
    width: 300px;
    height: 45px;
    border: none;
    border-radius: var(--roundness);
    color: var(--bg);
    font-size: 30px;
}
.optionBtn:hover {
    background-color: var(--btnHighlight);
}