* {
    font-size: 35px;
}
head {
    display: none;
}
body {
    background-color: var(--bg);
    width: 100%; height: 100vh;
    margin: 0;
    align-items: 0;
    overflow-x: hidden;
}
#root {
    background-color: var(--box);
    padding: 20px;
    border-radius: var(--roundness);
    max-width: 300px;
    text-align: center;
}
form {
    gap: 15px;
}
.row {
    flex-direction: row;
}
input[type=color] {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}
input[type=color]::-webkit-color-swatch {
    background-color: red;
    border-radius: 50%;
    border: 5px solid white;
}
input[type=submit], button {
    background-color: var(--btn);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 60px;
    color: var(--bg);
    font-size: 30px;
}
input[type=submit]:hover, button:hover {
    background-color: var(--btnHighlight);
}
button {
    font-size: 25px;
}
#close {
    background-color: transparent;
    position: absolute;
    top: 25px;
    left: 25px;
    aspect-ratio: 1;
    padding: 0;
}
#close i {
    color: var(--btn);
}
#close i:hover {
    color: var(--btnHighlight);
}